
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body {
    background-color:#5DA976 ;
}
.container {
  
    width: 100%;
    /* margin: 0 auto; */
}

header{
    background-color: white;
    padding: 1rem 1rem;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: lowercase;
}

/* .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

.menuToggle {
    display: none;
}
a {
    text-decoration: none;
}

header .navigation {
    list-style: none;
    display: flex;
}

header .navigation li {
    margin-left: 1rem;
    /* padding: 0.5rem; */
}

header .navigation li {
    cursor: pointer;
}

.underline-on-hover:hover {
    text-decoration: underline;
    color: #F46983;
}

/*styling*/

.post .post-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 20px;
}

.post {
margin-left:25px;
margin-top: 50px;
margin-bottom: 15px;
}

.bio {
    margin-top: 120px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.home {
    margin-top: 120px;
    margin-left: 5px;

}