
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
body {
    background-color:#5DA976 ;
}
.container {
  
    width: 100%;
    margin: 0 auto;
}
.container.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.menuToggle {
    display: none;
}
a {
    text-decoration: none;
}

.header .navigation {
    list-style: none;
    display: flex;
}

.header .navigation li {
    margin-left: 1rem;
    padding: 0.5rem;
}

.header .navigation li {
    cursor: pointer;
}

.underline-on-hover:hover {
    text-decoration: underline;
    color: #F46983;
}

/*styling*/

.main .col {
    width: 50%;
}

.post .post-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 20px;
}

.post {
margin-left:25px;
margin-top: 100px;
}

.container.main {
    display: flex;
}

.bio {
    margin-top: 120px;
    margin-left: 25px;
}

.home {
    margin-top: 120px;
    margin-left: 5px;

}